* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(93, 73, 180); /* temporary */
}
.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: auto;
  gap: 5px;
  border: 1px solid black;
  padding: 5px;
}
button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
input {
  width: 90%;
}
.display {
  text-align: right;
}
